<%- include("partials/header") -%>
<h1><%=singleTitle%></h1>
<p><%=singleContent%></p>
<a class="btn btn-primary" href="/edit/<%=singleTitle%>" method="get" role="button">Edit</a>
<a class="btn btn-primary" href="/delete/<%=singleTitle%>" method="get" role="button">Delete</a>

<%- include("partials/footer") -%>
